<!-- Swiper Slider Code -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />

<style>
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .container {
    max-width: 1200px;
    margin: auto;
  }
  .swiper_area{
    background-color: #f6f6f6;
  }
  .collection_swiper_area{
    background-color: #ffffff !important;
    padding-bottom: 30px;
  }
  .swiper {
    width: 100%;
    height: 100%;
    padding: 50px 0px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 5px;
  }
  .collection-card-text-area{
    padding: 0px;
  }
  .collection-seller-title h1{
    padding: 50px 0px 0px 0px;
    text-align: center;
    font-weight: bolder;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
  }
  .swiper-slide h1{
    font-size: 18px;
    text-align: start;
    font-weight: bold;
    color: #221F22;
  }
  .swiper-slide p{
    text-align: start;
  }
  .collection-card-item-area{
    position: relative;
  }
  .collection-card-text-area a{
    background-color: #FDCB2C;
    width: 100%;
    text-decoration: none;
    color: #221F22;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: start;
    padding-left: 15px !important;
    border-radius: 0px !important;
  }

  .swiper_area .swiper-button-next::after,
  .swiper-button-prev::after {
    display: none;
  }
  .swiper_area {
    position: relative;
  }
  .swiper-button-next {
    position: absolute;
    top: 60%;
    left: calc(50% + 630px);
    transform: translateX(-50%);
  }
  .swiper-button-prev {
    position: absolute;
    top: 60%;
    left: calc(50% - 630px);
    transform: translateX(-50%);
  }
  .swiper-button-next svg, .swiper-button-prev svg{
    color: #FDCB2C;
  }
  .swiper-pagination-bullet-active{
    background-color: #FDCB2C !important;
  }

</style>

<section class="swiper_area collection_swiper_area">
  <div class="container">
    <div class="collection-seller-title">
      <h1>Collection Sellers</h1>
    </div>
    <div class="swiper collectionProduct">
      <div class="swiper-wrapper">
        <div class="swiper-slide collection-card-item-area">
          <div>
            <img src="https://constructionproducts.co.nz/cdn/shop/files/Edited-Mix-2_e7f631ba-68cb-4262-8b76-8385830921ef_550x.jpg?v=1614302223" alt="">
            <div class="collection-card-text-area">
              <a href="#">Monotonectally leverage other's.</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide collection-card-item-area">
          <div>
            <img src="https://constructionproducts.co.nz/cdn/shop/files/Edited-Mix-2_e7f631ba-68cb-4262-8b76-8385830921ef_550x.jpg?v=1614302223" alt="">
            <div class="collection-card-text-area">
              <a href="#">Monotonectally leverage other's.</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide collection-card-item-area">
          <div>
            <img src="https://constructionproducts.co.nz/cdn/shop/files/Edited-Mix-2_e7f631ba-68cb-4262-8b76-8385830921ef_550x.jpg?v=1614302223" alt="">
            <div class="collection-card-text-area">
              <a href="#">Monotonectally leverage other's.</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide collection-card-item-area">
          <div>
            <img src="https://constructionproducts.co.nz/cdn/shop/files/Edited-Mix-2_e7f631ba-68cb-4262-8b76-8385830921ef_550x.jpg?v=1614302223" alt="">
            <div class="collection-card-text-area">
              <a href="#">Monotonectally leverage other's.</a>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
  <div>
    <div class="swiper-button-next">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="3"
        stroke="currentColor"
        class="size-6">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="m8.25 4.5 7.5 7.5-7.5 7.5" />
      </svg>
    </div>
    <div class="swiper-button-prev">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="3"
        stroke="currentColor"
        class="size-6">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M15.75 19.5 8.25 12l7.5-7.5" />
      </svg>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Collection Product Slider",
    "settings": [],
    "blocks": [
      {
        "type": "collection_product",
        "name": "Collection Product",
        "settings": [
          {
            "type": "image_picker",
            "id": "collection_product_logo",
            "label": "Collection Product Logo"
          }, {
            "type": "text",
            "id": "collection_product_title",
            "label": "Collection Product Title",
            "default": "This is title"
          }, {
            "type": "text",
            "id": "collection_product_paragraph",
            "label": "Collection Product Paragraph",
            "default": "This is paragraph"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Collection Product Slider",
        "category": "Custom",
        "blocks": [
          {
            "type": "collection_product"
          }
        ]
      }
    ]
  }
{% endschema %}

<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

<script>
  var swiper = new Swiper(".collectionProduct", {
    slidesPerView: 3,
    spaceBetween: 30,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    }
  });
</script>